/* font-family: 'Alumni Sans', sans-serif;
font-family: 'Oleo Script Swash Caps', cursive; */
*{
  padding: 0;
  margin: 0;
  font-family: 'Alumni Sans';
}

body {
  background: #EEEEEE;
}

.flex{
  display: flex;
}

body{
  height: 100%;
  margin: 0;
}

h1{
  background: #FDD35D;
  border-radius: 2.5em;
  padding: 0.75em;
  color: white; 
  font-family: 'Oleo Script Swash Caps';
  font-size: 1.5em;
}

input{
  border: none;
  border-radius: 1em;
  margin-bottom: 0.5em;
}

button{
    border: none;
    border-radius: 1em;
    background: white; 
    color: #868686;
    padding: 0.5em;
    font-weight: lighter;
}


/* LOGIN PAGE */

#login-page{
  align-items: flex-start;
}
#login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

#login-img{
  width: 50%;
  height: 100%;
}

#login-logo{
 width: 11em;
}

#login-box{
  background: #466478;
  padding: 0.5em 1em 1em;
  border-radius: 1.5em;
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login-form{
  color: white;
  font-weight: lighter;
  font-size: 1em;
  width: 10em;
  padding: 1em;
}

.login-input{
  padding: 0.5em;
}

#login-button{
  margin-top: 0.5em;
}


/* NAV */

nav{
  background: #466478;
  justify-content: space-between;
  border-radius: 0 2em 2em 0;
  margin: 1em 1em 1em 0;
}

.nav-buttons{
  align-items: center;
}

#nav-header{
  margin: 0.6em;
}

#nav-logo{
  width: 7em;
  margin: 2em 3em;
}

#return-to-login{
  background: #2C2C54;
  color: white;
  height: 2.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em
}

.home-button{
  background: #2C2C54;
  color: white;
  height: 2.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
}

.nav-info{
  background: white;
  border-radius: 1.5em;
  padding: 0.5em;
  align-items: center;
  justify-content: space-around;
  margin-left: 0.6em
}

#date-selector{
  background: #2C2C54;
  color: white;
  padding: 0.5em;
}

#view-available-rooms{
  background: #2C2C54;
  color: white;
}

#current-date{
  background: #2C2C54;
  color: white;
  border-radius: 1em;
  padding: 0.3em
}

#filter-button{
  background: #2C2C54;
  color: white;
  border-radius: 1em;
  padding: 0.3em
}


/* MAIN PAGE */

.dashboard{
  background: #2C2C54;
  border-radius: 0 2em 2em 0;
  margin: 1em 1em 1em 0;
  padding: 0 2em 2em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bookings-title-bar{
  background: white;
  justify-content: space-between;
  align-items: center;
  border-radius: 2em;
  margin: 1em;
  width: 98%;
}

#all-bookings{
  font-family: 'Oleo Script Swash Caps';
  font-size: 2.8em;
  color: #2C2C54;
  padding-left: 0.25em;
}

#total-cost-label{
  color: #868686;
  font-size: 1.4em;
  padding: 0.25em;
}

#total-cost{
  background: #868686;
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding: 0.25em;
  border-radius: 1em;
  margin-right: 0.5em;
}

.booking-display{
  background: #466478;
  border-radius: 3em;
  width: 90%;
  color: white;
  font-size: 1.4em;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.room-type{
  padding-left: 0.4em;
  margin: 0.1em;
  font-size: 2.5em;
  width: 60%
}

.booking-cost{
  margin-right: 2em;
}


/* MAKE BOOKING PAGE */

.available-room{
  background: #2C2C54;
  border-radius: 2em;
  width: 90%;
  color: white;
  margin: 1em;
  padding: 1em;
  justify-content: space-between;
}

.sub-info{
  padding: 0.2em;
}

.rm-info-element{
  margin-right: 5em;
}

.room-type{
  font-size: 2em;
  padding: 0
}

.book-room-button{
  background: #FDD35D;
  color: white;
  font-family: 'Oleo Script Swash Caps';
  font-size: 1.2em;
  width: 5em;
}

/* --------------------- */

.hidden{
  display: none;
}