body {
  background: #EEEEEE;
}

.flex{
  display: flex;
}

body{
  height: 100%;
  margin: 0;
}

/* LOGIN PAGE */

#login-img{
  width: 50%;
  height: 100%;
}



/* MAIN PAGE */

/* MAKE BOOKING PAGE */